*{padding: 0;
    margin: 0;
    user-select: none;
    outline: none;
    size: 1.1rem;
    font-family: sans-serif;
    text-decoration: none;
}
h1{
    font-weight: normal;
}
.micro{
    font-size: 1rem;
    color: grey;
}
body::-webkit-scrollbar{
    display: none;
}
.ttle{
    margin: .5rem 0;
    width: 98%;
    padding:.5rem 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    box-shadow: 0 0 .4rem -.1rem grey;
    border-radius: .5rem;
}
body{
    scroll-behavior: smooth;
    background-color: #fcfcff;
    font-family: sans-serif;
    font-size: 1.1rem;
    overflow-x: hidden;
    width:100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.cntnt{
    padding: 4rem 1rem 2rem 1rem;
    width:calc(100vw - 2rem);

}
.tt{
    font-size: 1.2rem;
    margin-left: 1rem;
    color: #2a2a2a;
}
.sp{
    margin-left:1.5rem;
    font-size: 1rem;
    color: #454545;
}
.spc{
    margin-left:1.5rem;
    font-size: 1rem;
    color: #454545;
}
.page{
    width:100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.top{
    width:calc(100VW - 15rem);
    background-size: cover;
    background:white ;
    align-items: center;
    height: calc(100% - 4rem);
    padding-top: 4rem;
}
.top-left{
    width: calc(15rem - .6rem);
    padding-left: .3rem;
    padding-right: .3rem;
    height: calc(100% - 4rem);
    background-color: #2a2a2a;
    padding-top: 4rem;
}
.top-tier{
    width:100VW ;
    display: flex;
    height: 100vh;
    min-height: 36rem;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    background-color: white;
}
.circle{
    width: 3rem;
    height: 3rem ;
    border-radius: 3rem;
    box-shadow: 0 0 .4rem -.1rem blueviolet;
    object-fit: cover;
    object-position: center;

}
.card{
    border-radius: .4rem;
    padding:1rem 1rem ;
    background-color: white;
    font-size: 1.1rem;
    width: 25%;
    min-width: 14rem;
    margin:.4rem;
    max-width: 22rem;
    box-shadow: 0 .1rem .5rem -.1rem #42426f;
}
.card-title{
    width:calc(100% - 1rem);
    padding:.5rem;
    background-color: #ff0b3b;
    border-radius: .4rem;
    margin-bottom: 1rem;
    font-size:1.1rem;
}
.fight{
    font-size: 1.2rem;
    color: white;
}
.cards{
    border-radius: .4rem;
    padding:0.3rem 0.3rem 1rem 0.3rem ;
    background-color: white;
    font-size: 1.1rem;
    width: 24%;
    min-width: 8rem;
    margin:.4rem;
    box-shadow: 0 .1rem .5rem -.1rem #42426f;
}
.cnt{

    color: white;
}
.lorem > p,.lorem>h2{
    color: #2b2b2b;
    text-align: center;

}
.lorem>h2{
    font-size: 2.1rem;
    text-align: center;
}
.lorem > p{
    color: #474747;
    font-size: 1.5rem;
}
.btn{
    margin-top: .8rem;
    padding:.2rem 0;
    border: none;
    background-color: #ff0b3b;
    border-radius: 1rem;
    box-shadow: 0 .1rem .4rem -.15rem #2f2f2f;
    color:white;
    font-size: 1.1rem;
    display: flex;
    align-items: center;
    justify-content: center;
}
h2{
    font-weight: normal;
}
.ul{
    width: 97%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.li{
    color: white;
    padding: .3rem 0 ;
    border:solid #bdbdbd;
    border-width: 0 0 .07rem 0 ;
    width: 86%;
    list-style: circle;
}
.opt{
    padding: .2rem 1rem;
    border: 1px solid grey;
    font-family: sans-serif;
    font-size: 1.1rem;
    outline: none;
}
select:hover,option:hover{
    outline:none;
}
select{
    padding: .2rem 1rem;
    font-family: sans-serif;
    font-size: 1.1rem;
    margin-bottom: -.5rem;
}
br{
    height: .5rem;
}
.smp{
    color: #ffffff;
    font-size: .8rem;
}
input{
    padding: .2rem 1rem;
    border:1px solid grey;
    /**/
    border-radius: .2rem;
    width:calc(100% - 2rem);
    margin-bottom: .3rem;
    font-size: 1.1rem;
}
input:focus{
    box-shadow: 0 .1rem .5rem -.2rem #535353;
}
.small-input{
    width:30%;
    justify-self: flex-end;
}
.h-fluid{
    display:flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-evenly;


}
.h{
    display: flex;
    align-items: center;
}
.v{
    display: flex;
    flex-direction: column;
}

.j-center{justify-content: center;}
.wrap{flex-wrap: wrap;}
.a-center{align-items: center;}
.between{justify-content: space-between;}
.v-100{height:100%}
.vv-50{height: 50vh}
.vv-75{height: 75vh}
.vv-100{height:100vh}
.w-25{width: 24%;}
.w-50{width: 49%;}
.w-75{width: 74%;}
.w-100{width: 100%;}
.ww-25{width: 25vw;}
.ww-33{width: 33vw;}
.ww-50{width: 50vw;}
.ww-75{width: 75vw;}
.ww-80{width: 80vw;}
.ww-90{width: 90vw;}
.ww-100{width: 100vw;}
.left{justify-self: flex-start;}
.center{justify-self: center;}
.right{justify-self: flex-end;}
.even{justify-content: space-evenly}
.nav-fixed{
    background-color: white;
    font-size: 1.2rem;
    position: fixed;
    top: 0.4rem;
    width:calc(98vw - 2.4rem);
    box-shadow: 0 .1rem .5rem -.15rem grey;
    padding: 0 1.3rem;
    min-height: 3.2rem;
    z-index: 10;
    border-radius: .5rem;
}
.title{
    text-decoration: none;
    color: black;
}
.nav-link{
    transition: .4s ease-in-out;
    cursor: pointer;
    font-size: 1.2rem;
    margin:.2rem  ;
    border: none;
    background-color: white;
    border-radius: 2rem;
    padding: .2rem 1rem;
}
.nav-link:hover{
    transition: .4s ease-in-out;
    box-shadow: 0 0.05rem .5rem -.2rem blue;

}


/* floating burger start */
.burger{
    display: none;
    transition: .4s ease-in-out;
    right: 1rem;
    position: absolute;
    align-items: center;
    justify-content:center ;
    width: 2.5rem;
    height: 2.5rem;
    background-color: white;
    border-radius: 2rem;
    cursor: pointer;
    border:2px solid rgb(63, 63, 63);

}
.burger-line{
    height: .2rem;
    min-width: 1.3rem;
    border-radius: .3rem;
    margin: .14rem 0;
    background-color: black;
}
.burger-line:nth-child(2){
    width: 1.5rem;
}
.hidden-nav{
    transition: .6s ease;
    transform: translateX(91vw);
    z-index: 13;
    background-color: rgb(252, 252, 252);
    padding: 4rem 0.3rem 1rem 0.3rem;
    max-width: 90vw;
    min-width: 60vw;
    position: fixed;
    right: 0;
    height: 105vh;
    overflow-y: auto;
    box-shadow: -.2rem 0.2rem .1rem -.2rem rgb(73, 73, 99);
}
.hidden-link{
    font-size: 1.2rem;
    border: 2px solid rgb(44, 44, 44);
    border-width: 0 0 .1rem 0;
    min-height: 2.4rem;
    display: flex;
    align-items: center;
    border-color: rgb(69, 66, 82);
    color: rgb(0, 0, 0);
    min-width: 86%;
}
/* hidden sections end (burger and hiden drawer) */
/* toggle class */
.drawer{
    transition:.6s ease;
    transform: translateX(0vw);
    box-shadow: -.2rem 0.2rem 1rem -.2rem rgb(23, 10, 53);

}
/* end of navbar styling and code */

@media (orientation:portrait){
    .nav-fixed{
        position: fixed;
        top: 0;
        width: 100vw;
        padding-left: 3rem;
    }
    .burger{
        top: .3rem;
        z-index: 14;
        display: flex;
        position: fixed;
        right: 1rem;
    }
    .nav-center,.right{
        display: none;
    }
    .lorem{
        margin-bottom: 1rem;
    }
    .nav-link{
        display: none;
    }
    .h{
        display: flex;
        flex-direction: column;
    }
    .vv-75{
        height: max-content;
    }
    .top{
        padding-top: 5rem;
    }
    .cntnt{
        padding: 4rem 1rem 2rem 1rem;
        width:calc(100vw - 2rem);

    }
    .card{
        width:calc( 100% - 2rem);
    }
    .cards{
        width:calc( 100% - 1rem);
        max-width: 100%;
    }
    .ww-25,.w-25{
        width: 80%;
    }
    .h-fluid{
        width: 80%;
    }
    nav{
        display: flex;
        align-items: center;
        justify-content: flex-start;
    }
    .title{
        font-size: 1.3rem;
    }
}