{{#partial "content"}}
    <nav class="nav-fixed  h between">
        <a href="" class="title left v-100">SQUADS</a>
        <div class="h nav-center v-100 ">
            <a href="/" class="nav-link">home</a>
            <a href="/all" class="nav-link">Reports</a>

        </div>
        <div class="right v-100">
            right
        </div>

    </nav>
    <div class="burger v">
        <div class="burger-line"></div>
        <div class="burger-line"></div>
        <div class="burger-line"></div>
    </div>
    <div class="hidden-nav v a-center vv-100">
        <a href="" class="hidden-link">alot of things</a>
        <a href="/" class="hidden-link">back home</a>

    </div>
    <div class="top-tier">
        <div class="top-left">
            this is left
        </div>
    <div class=" top even h ">

        <div class="lorem w-25 v center">
            <h2>Welcome to Hero Squad</h2>
            <p>
                Fill out the form right next if you want to join the squad
            </p>
        </div>
        <span></span>
        <div class="v left card ">
            <form action="/from/new" method="POST">
                <h2>Animal Tracking Form</h2><br>
                <label for="ranger">Ranger Name</label>
                <input id="ranger" required name="ranger" type="text">
                <br>
                <label for="name">Animal Name</label>
                <input id="name" required name="name" type="text">
                <br>
                <label for="power">Health State</label>
                <input id="power" required name="health" type="text">
                <br>
                <div class="h between w-75">
                    <label for="age">Animal Age</label>
                    <input class="small-input" min="1" max="240" required id="age" name="age" type="number">
                </div>
                <label for="fight">Is It Endangered :</label>
                <select name="endangered" required id="fight">
                    <option value="endangered">Endangered</option>
                    <option value="notEndangered">Not Endangered</option>
                </select>
                <span> <br></span>
                <button type="submit" class="btn w-100" class="btn btn-default">Add post</button>
            </form>
        </div>
    </div>
    </div>





{{/partial}}

{{> layout.hbs}}