{{#partial "content"}}
    <nav class="nav-fixed ww-90 h between">
        <a href="" class="title left v-100">SQUADS</a>
        <div class="h nav-center v-100 ">
            <a href="/" class="nav-link">home</a>

        </div>
        <div class="right v-100">
            right
        </div>

    </nav>
    <div class="burger v">
        <div class="burger-line"></div>
        <div class="burger-line"></div>
        <div class="burger-line"></div>
    </div>
    <div class="hidden-nav v a-center vv-100">
        <a href="" class="hidden-link">alot of things</a>
        <a href="/" class="hidden-link">Return Home</a>

    </div>
    <div class="w-100 top even h vv-100">
        <div class="cards">
            <h1>Success!</h1>

            Your blog post has been saved.

            <a href="/">Go Back</a>
        </div>

    </div>
{{/partial}}

{{> layout.hbs}}